.question {
  font-weight: 700;
  color: #ed9153;
}
.answer {
  color: grey;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}
.grid-item {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
}
.marquee {
  overflow: hidden;
  margin-top: 20px;
  display: flex;
  padding: 0.2rem 0;
  background-color: #e18672;
}

.marquee h2 {
  white-space: nowrap;
  color: #000000;
  font-size: 2em;
}
.cart-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.cart-item {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  border-radius: 5px;
}

.cart-item-image {
  flex: 1;
  margin-right: 20px;
}

.cart-item-image img {
  max-width: 100%;
  height: auto;
}

.cart-item-details {
  flex: 2;
}
